[Unit]
Description=Url Shortener
After=network.target

[Service]
User=root
WorkingDirectory=/var/www/url-shortener
ExecStart=/var/www/url-shortener/url-shortener
Restart=always
RestartSec=4
StandardOutput=inherit
EnvironmentFile=/var/www/url-shortener/config.env

[Install]
WantedBy=multi-user.target